[Unit]
Description=Picamserver Image
After=network.target

[Service]
Type=simple
User=USER
WorkingDirectory=WORK_DIR
ExecStart=/usr/bin/python camdaemon.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target